h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: brown;
}

p::selection{
    color: white;
    background-color: darkgoldenrod;
}

#fruit li::before{
    content: "$$";
}
 