#box{
    width: 450px;
    height: 220px;
    background-color: hsl(0, 100%, 62%);
    font-size: 13em;
    text-align: center;
    /* animation-name:slideLeft; */
    /* animation-name: slideDown; */
    animation-name: grow;
    animation-duration: 2s;
    animation-iteration-count: 3;
    /* animation-direction: reverse; */
    /* animation-timing-function: steps(10); */
}

/* @keyframes slideLeft{
    from{transform: translateX(300%) }
} */
/* @keyframes slideDown{
    to{transform: translateY(300%) }
} */

@keyframes grow{
    50%{transform: scale(2, 2)}
}