#box1{
    width: 200px;
    height: 200px;
    background-color: brown;
    position: relative;
    /* top: 100px;
    left: 100px ; */
    top: 200px;
    left: 200px ;
}

#box3{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: rgb(231, 149, 149);
    right: -20px;
    top: -10px;
}

#box2{
    width: 200px;
    height: 200px;
    background-color:lightblue;
    position:fixed;
    bottom: 0;
    right: 0;
}
